:root {
  --black: #131313;
  --white: #ffffff;
  --block-margin: 2rem;
  --max-width: 42rem;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lora', serif;
  line-height: 1.6;
  letter-spacing: 0.0175em;
  font-size: 1.5rem;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: calc(var(--block-margin) * 1.5) 0 var(--block-margin);
}

/* Header */

.header {
  position: relative;
  background-color: var(--black);
  color: var(--white);
  padding-bottom: 0;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;

  width: 100%;
  height: 100%;

  transform: skewy(-2deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;

  background-color: var(--black);
}

.header__content {
  position: relative;
  z-index: 1;
  max-width: var(--max-width);
  margin: 0 auto;
}


/* Code styles */

code {
  font-family: monospace;
}

pre,
code {
  background-color: #282923;
  color: var(--white);
}

pre {
  font-size: 0.75em;
  padding: 1.25em;
  border-radius: .25rem;
  margin: var(--block-margin) 0;
}

.css-name-selector,
.css-unit {
  color: #FC1B70;
}

.css-class-selector {
  color: #A4E400;
}

.css-property,
.css-value {
  color: #61D8F1
}

.css-property {
  font-style: italic;
}

.css-value-number {
  color: #AD7CFF
}

p code {
  padding: .125em .375em;
  border-radius: .125rem;
}


.inline-code {
  color: inherit;
  background-color: #efefef;
}

/* General */

.main {
  max-width: var(--max-width);
  margin: 6rem auto;
}

p {
  margin: var(--block-margin) 0;
}

.example {
  padding: 1.5rem;
  background-color: #efefef;
  margin: var(--block-margin) 0;
}

.example p {
  margin: 0;
}

.example--animation {
  position: relative;
  max-height: 8em;
  overflow: hidden;
}

.example--animation::after {
  content: "";
  position: absolute;
  height: 3.5em;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, transparent, #efefef);
}

@keyframes first-letter-animation {
  to {
    font-size: 3.2em;
    line-height: 1;
    margin-right: .25em;
    font-variation-settings: "wght" 700;
  }
}

.first-letter-cap .first-letter {
  float: left;

  font-size: 1.001em;
  font-variation-settings: "wght" 400;

  animation: first-letter-animation 2.75s ease-in-out infinite alternate backwards;
}

.small-caps {
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}
