* {
  box-sizing: border-box;
}

.raster{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-rows: minmax(200px, auto);
grid-gap: 0px;
}

h1{
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 12vw;
line-height: 100%;
color: white
}
@media screen and (max-width: 50em) {
  h1{
    font-size: 16vw;}
  }
h2{
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 8vw;
line-height: 100%;
color: white
}
@media screen and (max-width: 50em) {
  h2{
    font-size: 9vw;}
  }
h3{
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 130px;
  line-height: 120%;
  text-align: center;
  color: white;
  font-variant-ligatures: discretionary-ligatures;
}
@media screen and (max-width: 50em) {
  h3{
    font-size: 35px;}
  }

h4{
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 120%;
}
@media screen and (max-width: 50em) {
  h4{
    font-size: 35px;}
  }

p{
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 145%;
letter-spacing: 0.08em;
color: white;
padding: 6%;
width: 78%;
}
@media screen and (max-width: 50em) {
  p{
    font-size: 17px;}
  }

.tabelleGS{
  ont-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: black;
  padding:0%;
}
@media screen and (max-width: 50em) {
  .tabelleGS{
    font-size: 15px;}
  }
span{
  font-variant-ligatures: none;
}

.titel{
grid-area: 1/1/2/9;
background-color: #EB5757;
justify-items: center;
display: inline-grid;
}
@media screen and (max-width: 50em) {
  .titel{
    grid-area: 1/5/2/13;
}}
.titel2{
grid-area: 4/1/5/6;
background-color: #EB5757;
justify-items: center;
display: inline-grid;
}

.Bild1{
  grid-area: 1/9/2/13;
}
@media screen and (max-width: 50em) {
  .Bild1{
    grid-area: 1/1/2/5;
    align-items: center;
    display: inline-grid;
}}


.Blackbox1{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  grid-area: 2/1/2/13;
}
.Blackbox2{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 4/6/5/13;
}
.Blackbox3{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 7/1/8/8;
}
@media screen and (max-width: 50em) {
  .Blackbox3{
    grid-area: 7/1/8/10;
}}
.Blackbox4{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 8/5/9/13;
}
.Blackbox5{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 10/5/11/13;
}
.Blackbox6{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 13/1/14/8;
}
@media screen and (max-width: 50em){
  .Blackbox6{
    grid-area: 13/1/14/10;
  }
}
.Blackbox7{
  background-color: black;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-area: 16/4/17/13;
}
@media screen and (max-width: 50em) {
  .Blackbox7{
    grid-area: 16/1/17/13;
}}

.Quellen{
  display: inline-grid;
  justify-items: center;
  align-items: end;
  grid-area: 16/1/17/4;
}
@media screen and (max-width: 50em) {
  .Quellen{
    grid-area: 17/1/18/13;
}}

a {
 color: #EB5757;
 font-size: 15px;

 /* font-family: 'Open Sans', sans-serif;
 font-size: 17px;
 font-weight: 300;
 line-height: 2em;
 letter-spacing: 0.05em;
 text-decoration-line: none;
 transition: 0.2s ease-in; */
}


.sk{
  grid-area: 3/1/4/7;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.Redbox1{
  background-color: #EB5757;
  grid-area: 3/7/4/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Redbox2{
  background-color: #EB5757;
  grid-area: 6/1/7/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Redbox3{
  background-color: #EB5757;
  grid-area: 8/1/9/5;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Redbox4{
  background-color: #EB5757;
  grid-area: 10/1/11/5;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Redbox5{
  background-color: #EB5757;
  grid-area: 12/1/13/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Redbox6{
  background-color: #EB5757;
  grid-area: 15/1/16/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.ctck{
  grid-area: 5/1/6/13;
}

.Lineal{
grid-area: 7/8/8/13;
display: inline-grid;
justify-items: center;
align-items: center;
}
@media screen and (max-width: 50em) {
  .Lineal{
    grid-area: 7/10/8/13;
}}
.IconLineal{
  width:50%;
}
@media screen and (max-width: 50em) {
  .IconLineal{
  width: 110%;
}}

.Beispiel1{
  grid-area: 9/1/10/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.Beispiel2{
  grid-area: 11/1/12/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.IconCSS{
  grid-area: 13/8/14/13;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 50em) {
  .IconCSS{
    grid-area: 13/10/14/13;
}}
.Icon1{
  height:50%;
}
@media screen and (max-width: 50em) {
  .Icon1{
    height:20%;
}}

.CSS{
  grid-area: 14/1/15/13;
}

.Tabelle{
  display: grid;
  grid-template-columns: 1fr 2fr 6fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 0px;
  margin-bottom: 5%;
}
@media screen and (max-width: 50em) {
  .Tabelle{
    grid-template-columns: 0.5fr 3fr 4fr;
}
}
.kopf{
  grid-area: 1/2/2/4;
}
.a{
  grid-area:2/2/3/4;
}
.b{
  grid-area:3/2/4/4;
}
.c1{
  grid-area:4/2/5/3;
}
.c2{
  grid-area:4/3/5/4;
}
.d1{
  grid-area:5/2/6/3;
}
.d2{
  grid-area:5/3/6/4;
}
