*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #FBFBFB;
  font-family: 'Raleway', sans-serif;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.item{
  background: #58d5f6;
  color: white;
  padding: 10px;
  height: auto;
}

.item:nth-child(even){
  background: #236fc8;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2{
  grid-column-start: 3;
  grid-column-end: 10;
}

.item3{
  grid-column-start: 1;
  grid-column-end: 4;
}

.item4{
  grid-column-start: 4;
  grid-column-end: 8;
}

.item5{
  grid-column-start: 8;
  grid-column-end: 10;
}

.item6{
  grid-column-start: 1;
  grid-column-end: 4;
}

.item7{
  grid-column-start: 4;
  grid-column-end: 8;
}

.item8{
  grid-column-start: 8;
  grid-column-end: 10;
}

.item9{
  grid-column-start: 1;
  grid-column-end: 4;
}

.item10{
  grid-column-start: 4;
  grid-column-end: 8;
}

.item11{
  grid-column-start: 8;
  grid-column-end: 10;
}

.item12{
  grid-column-start: 1;
  grid-column-end: 3;
}

.item13{
  grid-column-start: 3;
  grid-column-end: 8;
}

.item14{
  grid-column-start: 8;
  grid-column-end: 10;
}

.item15{
  grid-column-start: 1;
  grid-column-end: 4;
}

.item16{
  grid-column-start: 4;
  grid-column-end: 6;
}

.item17{
  grid-column-start: 6;
  grid-column-end: 8;
}

.item18{
  grid-column-start: 8;
  grid-column-end: 10;
}

.item19{
  grid-column-start: 1;
  grid-column-end: 3;
}

.item20{
  grid-column-start: 3;
  grid-column-end: 10;
}
