/* -- font intro -- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* -- font dan -- */
@import url('https://fonts.googleapis.com/css2?family=Spectral&family=Spectral+SC:wght@700&display=swap');

/* -- font nina -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");

/* -- font sam -- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* -- font stefanos -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@700&display=swap');

/* -- font patrick -- */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

/* -- font chantal -- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,700&display=swap");

/* -- font josh -- */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;800&display=swap');

/* -- font desi -- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* -- font sina -- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* -- font selina -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");

/* -- font flavia -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");

/* -- font cheyenne -- */
@import url('https://rsms.me/inter/inter.css');

/* -- font dominique -- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


/* -- start intro -- */
.term--intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.term--intro .term__title {
  font-weight: 700;
}
/* -- end intro -- */

/* -- start dan -- */
.term--dan {
  font-family: "Spectral", sans-serif;
  font-weight: 400;
}

.term--dan .term__title {
  font-family: "Spectral SC", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
/* -- end dan -- */

/* -- start nina -- */
.term--nina {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

.term--nina .term__title {
  font-family: 'Sen', sans-serif;
  font-weight: 800;
}
/* -- end nina -- */

/* -- start sam -- */
.term--sam {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.term--sam .term__title {
  font-weight: 900;
}
/* -- end sam -- */

/* -- start samira -- */
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Light.woff') format('woff'),
     url('Manrope-Medium.woff') format('woff'),
      url('Manrope-Bold.woff') format('woff');
    }

.term--samira {
  font-family:'Manrope-Light';
  /*font-weight: 400;*/
}

.term--samira .term__title {
  font-family:'Manrope-Bold';
}
/* -- end samira -- */

/* -- start stefanos -- */
.term--stefanos {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.term--stefanos .term__title {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 700;
}
/* -- end stefanos -- */

/* -- start patrick -- */
.term--patrick {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.term--patrick .term__title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
/* -- end patrick -- */

/* -- start chantal -- */
.term--chantal {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.term--chantal .term__title {
  font-weight: 700;
}
/* -- end chantal -- */

/* -- start josh -- */
.term--josh {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.term--josh .term__title {
  font-family: 'Bree Serif', serif;
  font-weight: 800;
}
/* -- end josh -- */

/* -- start desi -- */
.term--desi {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.term--desi .term__title {
  font-weight: 700;
}
/* -- end desi -- */

/* -- start sina -- */
.term--sina {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.term--sina .term__title {
  font-weight: 700;
}
/* -- end sina -- */

/* -- start selina -- */
.term--selina {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--selina .term__title {
  font-weight: 700;
}
/* -- end selina -- */

/* -- start flavia -- */
.term--flavia {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--flavia .term__title {
  font-weight: 700;
}
/* -- end flavia -- */

/* -- start cheyenne -- */
.term--cheyenne {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.term--cheyenne .term__title {
  font-weight: 300;
}
/* -- end cheyenne -- */

/* -- start dominique -- */
.term--dominique {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.term--dominique .term__title {
  font-weight: 800;
}
/* -- end dominique -- */
