/* -- start intro -- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.term--intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.term--intro .term__title {
  font-weight: 700;
}
/* -- end intro -- */

/* -- start dan -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--dan {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--dan .term__title {
  font-weight: 700;
}
/* -- end dan -- */

/* -- start nina -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--nina {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

.term--nina .term__title {
  font-family: 'Sen', sans-serif;
  font-weight: 800;
}
/* -- end nina -- */

/* -- start sam -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--sam {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--sam .term__title {
  font-weight: 700;
}
/* -- end sam -- */

/* -- start samira -- */
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Light.woff') format('woff'),
     url('Manrope-Medium.woff') format('woff'),
      url('Manrope-Bold.woff') format('woff');
    }

.term--samira {
  font-family:'Manrope-Light';
  /*font-weight: 400;*/
}

.term--samira .term__title {
  font-family:'Manrope-Bold';
}
/* -- end samira -- */

/* -- start stefanos -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
.term--stefanos {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 400;
}

.term--stefanos .term__title {
  font-weight: 700;
}
/* -- end stefanos -- */

/* -- start patrick -- */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
.term--patrick {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.term--patrick .term__title {
  font-weight: 700;
}
/* -- end patrick -- */

/* -- start chantal -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--chantal {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--chantal .term__title {
  font-weight: 700;
}
/* -- end chantal -- */

/* -- start josh -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--josh {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--josh .term__title {
  font-weight: 700;
}
/* -- end josh -- */

/* -- start desi -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--desi {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--desi .term__title {
  font-weight: 700;
}
/* -- end desi -- */

/* -- start sina -- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.term--sina {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.term--sina .term__title {
  font-weight: 700;
}
/* -- end sina -- */

/* -- start selina -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--selina {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--selina .term__title {
  font-weight: 700;
}
/* -- end selina -- */

/* -- start flavia -- */
@import url("https://fonts.googleapis.com/css?family=XXXX:400,700");
.term--flavia {
  font-family: "XXX", sans-serif;
  font-weight: 400;
}

.term--flavia .term__title {
  font-weight: 700;
}
/* -- end flavia -- */

/* -- start cheyenne -- */
@import url('https://rsms.me/inter/inter.css');
.term--cheyenne {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.term--cheyenne .term__title {
  font-weight: 300;
}
/* -- end cheyenne -- */

/* -- start dominique -- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
.term--dominique {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.term--dominique .term__title {
  font-weight: 800;
}
/* -- end dominique -- */
