html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  hyphens: auto;

}


.spalte {
  /* margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 20px;
  margin-bottom: 20px; */
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-size: 3rem;
}



p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  }

  li {
    font-size: 1.2rem;
  }





  .bild img {
    width: 100%;
  }

  .bild {
    width: 100%;
  }

  /* img {
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 100%;
  } */


  /* img {
  margin-bottom: 20px;
  margin-top: 5px;
  max-width: 100%;
height: auto;
width: auto; */

  }
}
