html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  hyphens: auto;

}


.spalte {
  /* margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 20px;
  margin-bottom: 20px; */
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-size: 3rem;
}



p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  }

  li {
    font-size: 1.2rem;
  }

code {
  font-family: 'monospace';
  background-color: #f2f2f2;


}

code.block {
  display: block;
}

pre {
  padding: 1rem;

}



  .bild img {
    width: 100%;
  }

  .bild {
    width: 100%;
  }


h3 {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  padding: 1.2em;
  color: steelblue;
}
