html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}



p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  font-family: 'Montserrat', sans-serif;
  /* width: 50%; */
}
