
    * {
      margin: 0px;
      padding: 0px;
    }

    html {
      color:#F4F4F4;
    }

    body {
      font: 150% sans-serif;
      background: rgb(26, 26, 26);
    }

    h1 {
      font-family: 'Bree Serif', serif;
      font-size: 230px;
      line-height: 1em;
      letter-spacing: 0.02em;
     }

     h2 {
      font-family: 'Bree Serif', serif;
      font-size: 30px;
      line-height: 1.1em;
      letter-spacing: 0.02em;
      padding-right: 2em;
     }
    
    h3 {
      font-family: 'Bree Serif', serif;
      font-size: 25px;
      line-height: 1.5em;
      letter-spacing: 0.05em;
     }

     h4 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 17px;
      line-height: 1.7em;
      letter-spacing: 0.05em;
      text-decoration-line: none;
     }
    
    p {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.7em;
      letter-spacing: 0.05em;
     }

     a {
      color: #5248D3;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 2em;
      letter-spacing: 0.05em;
      text-decoration-line: none;
      transition: 0.2s ease-in;
     }

     a:hover {
      text-decoration-line: underline;
     }

    .raster > * {
      padding: 0.5em;
      font-size: 2em;
    }

    /* .main {
      min-height: 800px;
    } */

    .raster {
      display: grid;
      grid-template-columns: 0.7fr repeat(6, 1fr) 0.7fr;
      /* grid-template-rows: 500px 100px 1fr 50px 1fr 1fr 50px 1fr 100px 1fr; */
      grid-row-gap: 2.7em;
      grid-column-gap: 0.2em;
      grid-template-areas: 
      "header header header header header header header header" 
      ". . . . . . . . "
      ". content1 content1 content1 content1 . . ."
      ". . . . . . . . "
      ". content2a content2a content2a content2b content2b content2b ."
      ". content2text content2text content2text content2text content2text content2text ."
      ". . . . . . . . "
      "content3 content3 content3 content3 content3 content3 content3 content3"
      ". . . . . . . . "
      ". content4 content4 content4 content5 content5 content5 ."
      ". . . . . . . . ";
      justify-content: end;
    }

     img {
      max-width: 100%;
    }

    .header {
      grid-area: header;
      background: rgb(81, 73, 201);
      /* height: 100vh; */
      align-self: center;
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .header h3 {
      text-align: center;
    }

    .header h1 {
      text-align: center;
    }

    .content1 {
      grid-area: content1;
      /* border: 1px white solid; */
    }

    .content2a {
      grid-area: content2a;
      /* border: 1px white solid; */
    }
    .content2b {
      grid-area: content2b;
      /* border: 1px white solid; */
    }


    .content2text {
      grid-area: content2text;
      padding-right: 35%;
    }

    .content3 {
      grid-area: content3;
      align-self: start;
      background: rgb(81, 73, 201);
    }

    .content3 h2 {
      text-align: center;
      line-height: 1.4em;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 3em;
      padding-bottom: 3em;
    }

    .content4 {
      grid-area: content4;
    }
    .content4 p {
      padding-right: 1.2em;
    }

    .content5 {
      grid-area: content5;
    }