* {
  box-sizing: border-box;
}
 html {
  color:#F4F4F4;
}

body {
  background-color: rgb(26, 26, 26);
  margin-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
 }

 img {
  width: 100%;
  max-width: 100%;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 100px;
  line-height: 0em;
  letter-spacing: 0.02em;
 }
  
h2 {
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
 }

h3 {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  line-height: 0em;
  letter-spacing: 0.05em;
 }

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
 }

ul {
  color: #5248D3;
 }

 a {
  color: #5248D3;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-decoration-line: none;
 }

.spalte {
  display: flex;
  max-width: 75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
 }

.module {
  background: rgb(26, 26, 26);
  text-align: left;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom: 2em;
  /* border: 1px solid white; */
}

.m1 {
  flex: 1 0 100%;
  /* background: #5248D3; */
  padding-top: 1em;
  padding-right: 12em;
  padding-left: 12em;
  padding-bottom: 1em;
  text-align: center;
}
.m2 {
  flex: 5;
}
.m3 {
  flex: 3;
  padding: 1em;
  text-align: center;
}
.m4 {
  flex: 1 0 100%;
  background: rgb(51, 51, 51);
  text-align: center;
}
.m5 {
    flex: 5;
}
.m6 {
  flex: 3;
}
.m7 {
  flex: 1 0 100%;
  background: rgb(51, 51, 51);
  text-align: center;
}
.m8 {
  flex: 2;
}
.m9 {
  flex: 2;
}

@media (max-width: 1000px) {
  .m2 { order: 1; flex: 4; }
  .m4 { order: 3; flex: 3; }
  .m3 { order: 2; flex: 4; }
  .m5 { order: 4; flex: 4; }
}
