html {
font-family: 'Fira Sans', sans-serif;
font-size: 14px;
margin: 0px;
letter-spacing: 0.01em;
hyphens: auto;
}


/* Responsive */
@media only screen and (min-width: 500px) {
  html {
    font-size: 16px;
    }
}



body, html {
  height: 100%;
  line-height:1.4;
}


/* The hero image */
.hero-image {
  background-image: url("./pics/Titelbild.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



/* Body Text */
body {
  color: #293133;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  color:#610B4B;
}


h2 {
  font-size: 0.9rem;
  font-weight: 900;
  color:#610B4B;
}


h3 {
  font-size: 1.3rem;
  font-weight: 100;
  color:#610B4B;
}


h5 {
  font-size: 2.5rem;
  font-weight: 900;
  color:#610B4B;
}

ul {
  margin:1em;
  padding:0;
}

ol {
margin: 1em;
padding: 0;
}



hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 100;
  word-wrap: break-word;
  word-break: keep-all;
}

img {
  width: 100%;
  display: block;
  border-radius: 3px 3px 0px 0px;
}

figcaption {
  padding: 4px 8px 4px 8px;
  background-color: #636363;
  color: #d7d9d9;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  height: 35px;
  display: flex;
  align-items: center;
}


.bold{
  font-weight: bold;
}




/* Tabelle mittig */
.content {
width :80%;
max-width: 40rem;
margin: 0 auto;
background-color: white;
}

.grid {
width: 32rem;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}




/* Footer */
.footer-background {
background-color: #610B4B;
width: 100%;
background-size: 100%;
}

.footer {
  height: 50px;
  color: white;
  margin: 0 auto;
  padding: 1px 16px;
  width: 80%;
  max-width: 38rem;
}

.footer p {
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
  position: relative;
}


/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Back to top button */
#myBtn {
  display: run-in; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  cursor: pointer; /* Add a mouse pointer on hover */
}

.verkleinern{
	height: 52%;
	width: 52%;
}



/* Button mit Bewegung */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #610B4B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin:0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
