html {
font-family: noto-sans, sans-serif;
font-size: 17px;
margin: 0px;
letter-spacing: 0.01em;
hyphens: auto;
border-color: cyan;
border-width: 12px;
border-style: solid;
}

p{
  letter-spacing: 0.6px;
  line-height: 1.7;


}
h1 {
font-family: noto-sans, sans-serif;
font-weight: 700;
font-style: italic;
font-size: 130%;
}

.raster {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 800px 600px 900px 1fr 1fr 800px 300px 100px 1000px 300px 100px 800px 300px;
  grid-gap: 20px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;

  grid-template-areas:
  "titel titel titel titel titel titel"
  "einleitung einleitung einleitung . . ."
  ". wasgibts wasgibts wasgibts . ."
  ". uebersicht uebersicht uebersicht . ."
  "divistitel divistitel divistitel divistitel divistitel divistitel"
  ". . divistext divistext divistext ."
  ". . . . . ."
  "gedankenstrich gedankenstrich gedankenstrich gedankenstrich gedankenstrich gedankenstrich"
  ". . gedankenstrichtext gedankenstrichtext gedankenstrichtext ."
  ". . . . . ."
  "geviert geviert geviert geviert geviert geviert"
  ". . gevierttext gevierttext gevierttext ."

}
.titel {
  grid-area: titel;
grid-template-rows: 300px;
font-size: 1300%;
text-align: end;
line-height: 1.05em;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
}


.einleitung {
  grid-area: einleitung;

}




.wichtigsten{
  grid-area: wichtigsten;
  font-family: noto-sans, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 130%;
}


.wasgibts {
  grid-area: wasgibts;
  margin-top: 200px;
}


.divistitel {
  grid-area: divistitel;
  font-size: 600%;
  font-weight: 700;
  color: cyan;
  margin-left: -5%;
  letter-spacing: -0.02em;
  line-height: 1.05em;

}

.divistext {
  grid-area: divistext;
}

.gedankenstrich {
  grid-area: gedankenstrich;
  font-size: 600%;
  font-weight: 700;
  color: cyan;
  margin-left: -5%;
  letter-spacing: -0.02em;
  line-height: 1.05em;

}

.gedankenstrichtext {
  grid-area: gedankenstrichtext;
}

.geviert {
  grid-area: geviert;
  font-size: 600%;
  font-weight: 700;
  color: cyan;
  margin-left: -5%;
  letter-spacing: -0.02em;
  line-height: 1.05em;

}

.gevierttext {
  grid-area: gevierttext;
}
