html {
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  }


.text {
  max-width: 40rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
  /* background-color: lightgrey; */
}

.abstand {
  height: 4rem;
}

.wort_container {
  width: 100vw;
  border-bottom-width: 0.2vw;
  border-bottom-color: #50e0ff;
  border-bottom-style: solid;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 7vw;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 1em;
  text-align: right;
  text-transform: uppercase;
  hyphens: auto;
  /* text-decoration: underline 0.08em solid; */
  /* margin-bottom: 0.2em; */
  margin-top: 1vw;
  margin-bottom: -1.15vw;
  margin-right: 2vw;
}

h2 {
  font-size: 3.02vw;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1em;
  text-transform: uppercase;
  hyphens: auto;
  padding: 0;
  margin-top: 4vw;
  margin-bottom: -0.5vw;
  margin-left: 2vw;
  /* margin-bottom: 5em;
  text-decoration: underline 0.1em solid; */
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  /* text-transform: uppercase; */
  /* hyphens: auto; */
  margin-bottom: 1em;
}

h4 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  /* text-transform: uppercase; */
  hyphens: auto;
  margin-bottom: 1em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.7em;
}

li {
  line-height: 1.7em;
  margin-bottom: 0.9em;
  list-style: "– ";
}

a {
  text-decoration: none;
  color: #24769a;
}

.bild_breit {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bild_schmaler {
  width: 64vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.code_erklaerung {
  display: flex;
}

.code_box {
  width: 17em;
  margin-right: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  background-color: #363943;
  border-radius: 0.3em;
}


code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  color: white;
  }

span {
  color: #89e650;
}

/* #c650ff
#ffe550
#50e0ff
#89ff50
#ff6f50 */
